<h3>予定の新規追加</h3>

<%= render "shared/error", obj: @schedule %>

<%= form_with model: @schedule do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th><%= f.label :start_date ,"開始日" %></th>
      <td><%= f.text_field :start_date, class: "datepicker" %></td>
    </tr>

    <tr>
      <th><%= f.label :age ,"終了日" %></th>
      <td><%= f.text_field :end_date %></td>
    </tr>
    
    <tr>
      <th><%= f.label :終日の場合はチェックを入れてください %></th>
      <td><%= f.check_box :all_day, class: "reset-checkbox" %></td>
    </tr>


    <tr>
      <th><%= f.label :memo ,"メモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= link_to "キャンセル", :schedules %></li>
      <li><%= f.submit "保存"%></li>
    </ul>
  </div>
<% end %>
